<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/mdui-v0.4.1/css/mdui.min.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/mdui-v0.4.1/js/mdui.min.js"></script>
    <script type="text/javascript" src="/js/xlsx.full.min.js"></script>
    <script type="text/javascript" src="/js/Blob.js"></script>
    <script type="text/javascript" src="/js/FileSaver.js"></script>
    <title>设备报修后台</title>
    <style>
        .nodata {
            padding: 20px;
        }

        .mdui-textfield {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .addtel {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        #tel-dialog{
            height: 80%;
            width: 50%;
        }

        .sendtel {
            text-align: center;
        }

        .mdui-snackbar-top{
            background: #fff;
            color: #000;
        }
    </style>
</head>

<body class="mdui-appbar-with-toolbar">
    <!-- 头部 -->
    <header class="mdui-appbar mdui-appbar-fixed mdui-color-blue-a400" id="content-header">
        <div class="mdui-toolbar">
            <a href="/admin" class="mdui-typo-headline mdui-hidden-xs">设备报修后台 -
                <span style="font-size: 16px;">第
                    <%= data.currentPage %>页/共
                        <%= data.allPage %>页</span>
            </a>
            <% if(parseInt(data.currentPage) == 1){ %>
                <a>
                    <button class="mdui-btn mdui-color-blue-a200 mdui-ripple mdui-center" onclick="urlopen('<%= data.goto %>1')">
                        上一页</button>
                </a>
                <% }else{ %>
                    <a>
                        <button class="mdui-btn mdui-color-blue-a200 mdui-ripple mdui-center" onclick="urlopen('<%= data.goto %><%= parseInt(data.currentPage) - 1 %>')">
                            上一页</button>
                    </a>
                    <% } %>
                        <% if(parseInt(data.currentPage) == parseInt(data.allPage)){ %>
                            <a>
                                <button class="mdui-btn mdui-color-blue-a200 mdui-ripple mdui-center" onclick="urlopen('<%= data.goto %><%= data.allPage %>')">
                                    下一页</button>
                            </a>
                            <% }else{ %>
                                <a>
                                    <button class="mdui-btn mdui-color-blue-a200 mdui-ripple mdui-center" onclick="urlopen('<%= data.goto %><%= parseInt(data.currentPage) + 1 %>')">下一页</button>
                                </a>
                                <% } %>
                                    <a>
                                        <button class="mdui-btn mdui-color-blue-a200 mdui-ripple mdui-center" mdui-dialog="{target: '#page-dialog'}">
                                            跳转</button>
                                    </a>
                                    <a>
                                        <button class="mdui-btn mdui-color-blue-a200 mdui-ripple mdui-center" mdui-dialog="{target: '#search-dialog'}">
                                            查询</button>
                                    </a>
                                    <a>
                                        <button class="mdui-btn mdui-color-blue-a200 mdui-ripple mdui-center" onclick="openDialog()">
                                            设置手机号</button>
                                    </a>
                                    <div class="mdui-toolbar-spacer"></div>
                                    <a href="javascript:;" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '导出'}" mdui-dialog="{target: '#export-dialog'}">
                                        <i class="mdui-icon material-icons">&#xe2c4;</i>
                                    </a>
        </div>
    </header>
    <!-- 内容 -->
    <div class="mdui-container mdui-m-t-3 mdui-m-b-3">
        <table id="ques-table" class="mdui-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>设备名称</th>
                    <th>设备编号</th>
                    <th>手机号码</th>
                    <!-- <th mdui-tooltip="{content: '下拉框选择的内容'}">选择内容</th>
                    <th mdui-tooltip="{content: '文本域描述的内容'}">描述内容</th> -->
                    <th>选择内容</th>
                    <th>描述内容</th>
                    <th>报修时间</th>
                </tr>
            </thead>
            <tbody>

                <% 
                if(data.ques.length != 0){
                    for(var i=0; i<data.ques.length;i++){ 
                        var ques = data.ques[i];
                    %>
                    <tr>
                        <td>
                            <%= i+1 %>
                        </td>
                        <td>
                            <%= ques.deviceName %>
                        </td>
                        <td>
                            <%= ques.deviceId %>
                        </td>
                        <td>
                            <%= ques.tel %>
                        </td>
                        <td>
                            <%= ques.selectContent %>
                        </td>
                        <td>
                            <%= ques.textareaContent %>
                        </td>
                        <td>
                            <%= dateFormat(ques.createTime) %>
                        </td>
                    </tr>
                    <% }}else{ %>
                        <tr>
                            <td>
                                无查询数据
                            </td>
                        </tr>
                        <% } %>
            </tbody>
        </table>
    </div>
    <div class="mdui-dialog" id="export-dialog">
        <div class="mdui-dialog-title">请选择导出格式</div>
        <div class="mdui-list">
            <!-- <a href="#" class="mdui-list-item mdui-ripple" onclick="exportExcel('<%= data.currentPage %>', 'biff8', '设备保修第<%= data.currentPage %>页.xls');">
                XLS (Excel版本：97-2004)</a> -->
            <a href="#" class="mdui-list-item mdui-ripple" onclick="exportExcel('<%= data.currentPage %>','xlsx');">XLSX (Excel版本：2007+)</a>
        </div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-close>取消</button>
        </div>
    </div>
    <div class="mdui-dialog" id="page-dialog">
        <div class="mdui-dialog-content">
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">请输入页码</label>
                <input class="mdui-textfield-input input-page" min="1" max="<%= data.allPage %>" type="number" />
            </div>
        </div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-close>取消</button>
            <button class="mdui-btn mdui-ripple" onclick="gotoPage()">跳转</button>
        </div>
    </div>
    <div class="mdui-dialog" id="search-dialog">
        <div class="mdui-dialog-content">
            <div class="mdui-container-fluid">
                <div class="mdui-row">
                    <div class="mdui-col-xs-6">
                        <div class="mdui-textfield">
                            <label class="mdui-textfield-label">设备名称</label>
                            <input id="deviceName" class="mdui-textfield-input" type="text" value="<%= data.query.deviceName %>" />
                        </div>
                    </div>
                    <div class="mdui-col-xs-6">
                        <div class="mdui-textfield">
                            <label class="mdui-textfield-label">设备编号</label>
                            <input id="deviceId" class="mdui-textfield-input" type="text" value="<%= data.query.deviceId %>" />
                        </div>
                    </div>
                </div>
                <div class="mdui-row mdui-m-t-2" style="height: 60px;">
                    <div class="mdui-col-xs-6" style="height: 60px;">
                        <div class="mdui-typo">
                            起始时间：
                            <input id="beginDate" class="mdui-textfield-input mdui-m-t-1" type="date" value="<%= data.query.beginDate %>" />
                        </div>
                    </div>
                    <div class="mdui-col-xs-6" style="height: 60px;">
                        <div class="mdui-typo">
                            结束时间：
                            <input id="endDate" class="mdui-textfield-input mdui-m-t-1" type="date" value="<%= data.query.endDate %>" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-close>取消</button>
            <button class="mdui-btn mdui-ripple" onclick="clearSearch()">清除</button>
            <button class="mdui-btn mdui-ripple" onclick="searchDevice()">查询</button>
        </div>
    </div>
    <div class="mdui-dialog" id="tel-dialog" style="overflow:auto">
        <div class="mdui-container-fluid">
            <div class="mdui-row">
                <div class="mdui-col-xs-9">
                    <div class="mdui-textfield">
                        <input class="mdui-textfield-input sendtel" type="text" placeholder="请输入手机号码" />
                    </div>
                </div>
                <div class="mdui-col-xs-3">
                    <button class="mdui-btn mdui-color-blue-accent mdui-ripple mdui-btn-block addtel" onclick="addTel()">添加</button>
                </div>
            </div>
        </div>
        <table class="mdui-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>手机号</th>
                    <th class="mdui-table-col-numeric">操作</th>
                </tr>
            </thead>
            <tbody id="tbody-list"></tbody>
        </table>
    </div>

    <script>
        var tel = new mdui.Dialog('#tel-dialog');
        function openDialog(obj) {
            getSendtel(function () {
                tel.open();
            });
        }

        function getSendtel(func) {
            $.ajax({
                method: 'post',
                url: '/getSendtel',
                success: function (data) {
                    // console.log(data)
                    $("#tbody-list").html("");
                    var html = "";
                    if (data.result != null && data.result.length != 0) {
                        for (var i = 0; i < data.result.length; i++) {
                            var u = data.result[i];
                            html += "<tr>";
                            html += "    <td>" + (i+1) + "<\/td>";
                            html += "    <td>" + u.tel + "<\/td>";
                            html += "    <td class=\"mdui-table-col-numeric\"><button id=\"" + u._id + "\" class=\"mdui-btn mdui-color-blue-accent mdui-ripple\" onclick=\"delTel(this)\">删除<\/button><\/td>";
                            html += "<\/tr>";
                        }
                    } else {
                        html = "<div class='nodata'>无数据</div>";
                    }

                    $("#tbody-list").html(html);
                    func();
                }
            });
        }
        
        function delTel(obj){
            var id = obj.id;
            var res = confirm('是否删除该手机号码');
            if(res){
                $.ajax({
                    method: 'post',
                    url: '/delSendtel',
                    data: {
                        id: id
                    },
                    success: function (data) {
                        if (data.result == 1) {
                            getSendtel(function () {
                                mdui.snackbar({
                                    message: '删除成功',
                                    position: 'top'
                                });
                            });
                        }
                    }
                });
            }
        }

        function addTel() {
            var tel = $(".sendtel").val();
            if(testPhone(tel)){
                $.ajax({
                    method: 'post',
                    url: '/addSendtel',
                    data: {
                        tel: tel
                    },
                    success: function (data) {
                        getSendtel(function () {
                            $(".sendtel").val("");
                            mdui.snackbar({
                                message: '添加成功',
                                position: 'top'
                            });
                        });
                    }
                });
            }else{
                mdui.snackbar({
                    message: '请输入正确的手机号码',
                    position: 'top'
                });
            }
        }

        function testPhone(num) {
            var reg = /^1[0-9]{10}$/;
            return reg.test(num);
        }

        function clearSearch() {
            $("#deviceName").val("");
            $("#deviceId").val("");
            $("#beginDate").val("");
            $("#endDate").val("");
        }

        function searchDevice() {
            var deviceName = $("#deviceName").val();
            var deviceId = $("#deviceId").val();
            var beginDate = $("#beginDate").val();
            var endDate = $("#endDate").val();
            urlopen("/admin/?devicename=" + deviceName + "&deviceid=" + deviceId + "&begindate=" + beginDate + "&enddate=" + endDate);
        }

        function exportExcel(page, type, fn, dl) {
            event.preventDefault();
            var elt = document.getElementById('ques-table');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "Sheet JS" });
            // var inst = new mdui.Dialog('#export-dialog');
            // inst.close();
            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                XLSX.writeFile(wb, fn || ('设备报修第' + page + '页.' + (type || 'xlsx')));
        }

        function gotoPage() {
            var page = $(".input-page").val();
            urlopen("<%= data.goto %>" + page);
        }

        function urlopen(url) {
            window.location.href = url;
        }
    </script>
</body>

</html>